.svg-icon
  width: 1em
  height: 1em
  vertical-align: -0.15em
  fill: currentColor
  overflow: hidden

*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,li,ol,p,table,td,th,ul
	margin: 0;
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section
  display: block

ol, ul, li
	list-style: none
blockquote, q
	quotes: none
blockquote:before, blockquote:after,q:before, q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0

html,body
	width 100%
	height 100%

input::-ms-clear,
input::-ms-reveal
  display none

body
	min-width 1226px
	font 14px/1.5 "PingFang SC","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC",sans-serif
	line-height 1.5
	background #f9f6f3

	#app
		width 100%
		height 100%
		>.el-container
			width 100% 
			height 100%
.el-textarea__inner
	resize none
.element-ui-message
	z-index: 300000 !important
.el-loading-mask 
	z-index: 300000 !important
	font-size: 30px
	
.message-wrapper
	.content-wrapper
		.left
			.el-menu-vertical
				.el-submenu__title
					padding 0 !important
					.el-menu-item
						height 56px
.text-el-icon-edit-outline, .el-icon-edit-outline
	color	#30CEF2
.text-el-icon-circle-check-outline, .el-icon-circle-check-outline
	color #1DC100
.text-el-icon-circle-close-outline, .el-icon-circle-close-outline
	color #E81313
.text-el-icon-circle-plus-outline, .el-icon-circle-plus-outline
  color #F24E1C
.text-el-icon-star-off, .el-icon-star-off
	color #FFAA00
.text-el-icon-document, .el-icon-document
	color #008BEA
.text-el-icon-bell, .el-icon-bell
	color #E81313